body{
    background-color: #50C878;
}

.container {
    display: flex;
    text-align: center;
    padding: 0%;
    justify-content: center;
    align-items: center;
  }
  
.elemento{
    display: inline-block;
    margin-right: 30px;
}

#textIndex{
    text-align: justify;
    font-size: 120%;
}

.rodape{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 98%;
   text-align: right;
   padding: 10px;
   font-size: 12px;
}